p {
    background-color: beige;
    height: 100px;
    overflow: initial;
    display: block;
    width: 20px;
    align-content: center;
    width: auto;
    display: flex;
    justify-content: center;
}

.navdiv .nav-list {
    /* justify-content: flex-end; */
    /* display:in; */
    /* background-color: rgb(168, 187, 157); */
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: space-evenly;
    background: scroll;
    margin-left: auto;
    padding: auto;
    width: 200px;
    list-style:none;
    /* background:red; */

}
.nav-list  a.nav-link{
    border-radius: 70%;
    color: rgb(26, 29, 22);
    margin-left: 20px;
}
.nav-item {
    background-color: greenyellow;
}

a:hover {
    text-decoration: underline;
}

.h4 {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    width: auto;
}

.navdiv .ul {
    align-content: center;
    justify-content: center;
    display: flex;
}

.nav-link {}

.nav-item {
    margin-left: 10px;
}

.body-head {
    display: flex;
    background-color: rgb(59, 41, 41);
}

.container div {
    /* background-color: green; */
    /* margin: 2px; */
    /* display: inline-block; */
    /* height: 75px; */
    /* text-align: center; */
    /* width: 100px; */
    /* display: flex; */
    /* align-items: center; */
    /* border-radius: 10px; */
    /* text-align: center; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
}


/* .cntainer { */


/*
background-color: rgb(57, 145, 94);
display: block;
justify-content: space-evenly;
height: 300px;
align-items: center;

}*/